/* =========================================================
| LARGE DEVICES
========================================================= */

@media(max-width:1400px){

    .realestate-home-title{

        font-size:55px;

    }

}

/* =========================================================
| LAPTOP
========================================================= */

@media(max-width:1200px){

    .realestate-home-content{

        grid-template-columns:1fr;

    }

}

/* =========================================================
| TABLET
========================================================= */

@media(max-width:992px){

    .realestate-home-content{

        padding:0 20px;

    }

}

/* =========================================================
| MOBILE
========================================================= */

@media(max-width:768px){

    .realestate-home-title{

        font-size:42px;

    }

    .realestate-section-title h2{

        font-size:34px;

    }

}

/* =========================================================
| SMALL MOBILE
========================================================= */

@media(max-width:576px){

    .realestate-home-title{

        font-size:32px;

    }

    .realestate-section-title h2{

        font-size:28px;

    }

}